diff
.idea/*
.nyc_output
dist
node_modules
test
src/**.js
coverage
*.log
package-lock.json

**/*.log
**/*.bak

**/*.key
**/*.csr
**/*.crt

# package.json is formatted by package managers, so we ignore it here
package.json
public
